# EmailJS
PUBLIC_EMAIL_CODE=your_emailjs_public_key_here
PUBLIC_EMAILJS_SERVICE_ID=your_service_id_here
PUBLIC_EMAILJS_TEMPLATE_ID=your_template_id_here

# reCAPTCHA v3
PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here
