@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: rgba(240, 248, 255, 0.634);
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.685);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 0, 0, 0.737);
}
