---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Not Found">
  <div class="w-full text-center min-h-[50vh] grid place-content-center">
    <h1>404 | Not Found</h1>
  </div>
</Layout>
