---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import ParallaxStrip from '../components/home/ParallaxStrip.astro';
import Showcase from '../components/home/Showcase.astro';
import Services from '../components/home/Services.astro';
import HomeEvents from '../components/home/HomeEvents.astro';
import StatsBar from '../components/home/StatsBar.astro';
import CtaSection from '../components/home/CtaSection.astro';
---

<Layout canonicalPath="/">
  <main class="min-h-[100svh] film-grain">
    <Hero />
    <ParallaxStrip />
    <Showcase />
    <!-- <Services /> -->
    <!-- <StatsBar /> -->
    <HomeEvents />
    <CtaSection />
  </main>
</Layout>
