---
import { CONTACT_IMAGE } from '../../data/site-config';
---

<div data-contact-img style="opacity: 0;" class="flex flex-col md:w-[33%] order-[3] md:order-1">
  <div class="pointer-events-none">
    <img class="w-full" src={CONTACT_IMAGE} alt="Ryuichi Oshimoto portrait" />
  </div>
</div>

<script>
  import gsap from 'gsap';

  const el = document.querySelector('[data-contact-img]');
  if (el) {
    gsap.fromTo(el, { opacity: 0 }, { opacity: 1, duration: 0.8 });
  }
</script>
