---
import Layout from '../../layouts/Layout.astro';
import PortfolioNav from '../../components/portfolio/PortfolioNav';
import Portfolio from '../../components/portfolio/Portfolio';
import { jpPics } from '../../data/portfolio-data.js';
---

<Layout
  title="Japan Landscape - Ryuichi Oshimoto"
  description="Japanese landscape photography by Ryuichi Oshimoto."
  canonicalPath="/portfolio/jp-landscape"
>
  <div class="pt-[100px] md:pt-[200px]">
    <PortfolioNav client:load />
    <Portfolio client:load imgData={jpPics} />
  </div>
</Layout>
